{% extends "basic/layout.html" %}

{% block extrahead %}
<!--[if lte IE 6]>
<link rel="stylesheet" href="{{ pathto('_static/ie6.css', 1) }}" type="text/css" media="screen" charset="utf-8" />
<![endif]-->

<link rel="stylesheet" href="{{ pathto('_static/featured.css', 1) }}">

{% if theme_favicon %}
<link rel="shortcut icon" href="{{ pathto('_static/'+theme_favicon, 1) }}" />
{% endif %}
{% endblock %}



{# do not display lower relbar #}
{% block relbar2 %}{% endblock %}

{# do not display sidebars #}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
